@function lkt-media-add-between($media-name: '', $property: '', $from: false, $to: false, $media-type: 'screen'){
  $media: '';
  @if ($media-type != false){
    $media: #{$media + ' ' + $media-type};
  }

  @if ($from != false){

    @if ($media-type != false){
      $media: #{$media + ' and '};
    }

    $media: #{$media + ' (min-' + $property + ': ' + $from + ')'};
  }

  @if ($to != false){

    @if ($media-type != false or $from != false){
      $media: #{$media + ' and '};
    }

    $media: #{$media + ' (max-' + $property + ': ' + $to + ')'};
  }

  $LKT_MEDIA_QUERIES: map-merge($LKT_MEDIA_QUERIES, ($media-name: $media)) !global;
  @return true;
}

@function lkt-media-add-custom($media-name: '', $media-query: ''){
  $LKT_MEDIA_QUERIES: map-merge($LKT_MEDIA_QUERIES, ($media-name: $media-query)) !global;
  @return true;
}

@function lkt-media-add-type($media-name: '', $media-type: ''){
  @return lkt-media-add-between($media-name, '', false, false, $media-type);
}

@function lkt-media-add($media-name: '', $from: false, $to: false, $media-type: 'screen'){
  @return lkt-media-add-between($media-name, width, $from, $to, $media-type);
}

@function lkt-media-get($media-name: ''){
  @return unquote(map-get($LKT_MEDIA_QUERIES, $media-name));
}

@function lkt-media-exists($media-name: ''){
  @return type-of(lkt-media-get($media-name)) == 'string';
}